<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃003</title>
    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="layout003.css">
    <!-- 그리드가이드 연결
    <link rel="stylesheet" href="grid-guide.css"> -->
</head>
<body>
    <div class="box1">
        <div class="box1-inner">
            <div class="box1-1 logo">
                <h1>대전선사박물관</h1>
            </div>
            <div class="box1-2 gnb">
                <ul>
                    <li><a href="#">THE MUSEUM ABROAD</a></li>
                    <li><a href="#">COLLECTIONS</a></li>
                    <li><a href="#">PLAN YOUR VISIT</a></li>
                    <li><a href="#">ACTIVITIES</a></li>
                    <li><a href="#">RESEARCH</a></li>
                    <li><a href="#">TEMPORARY EXHIBITIONS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="hero">
            <div class="txtBox">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                <p>amet consectetur adipisicing elit</p>
            </div>
            <div class="imgBox">
                <img src="https://cdn.pixabay.com/photo/2023/10/16/10/37/cathedral-8318952_1280.jpg" alt="" width="800px" height="600px">
            </div>
        </div>
        <div class="localMenu">
            <a href="#">
                <div class="menu1">
                    <p>WHAT'S NEW</p>
                    <span>More information</span>
                </div>
            </a>
            <a href="#">
                <div class="menu2">
                    <p>HIGHLIGHTS</p>
                    <span>See all highlights</span>
                </div>
            </a>
            <a href="#">
                <div class="menu3">
                    <p>EXHIBITION AREAS</p>
                    <span>Read more</span>
                </div>
            </a>
            <a href="#">
                <div class="menu4">
                    <p>ACTIVITIES</p>
                    <span>See all activities</span>
                </div>
            </a>
        </div>
    </div>
    <div class="box3">
        <article class="box3-1">
            <h1>The Gallery of the Acropolis Slopes</h1>
            <p>The first exhibition space, on the Museum’s ground floor, contains finds from the Acropolis slopes. Representing an integral part of the Rock's topography and history, the slopes hosted small and large sanctuaries, old and new cults, theatrical and musical venues and, further downslope, private residences.</p>
        </article>
        <div class="box3-2">
            <div class="imgBox">
                <img src="https://cdn.pixabay.com/photo/2016/11/11/18/43/statue-1817474_1280.jpg" alt="">
            </div>
            <div class="listBox">
                <ul>
                    <li><a href="#">
                        <img src="img/stone.png" alt="" width="60px" height="50px">
                        <strong>Archaic Acropolis Gallery</strong>
                        <p>The first floor’s eastern and southern sections are devoted to the Acropolis during the Archaic period.</p>
                    </a></li>
                    <li><a href="#">
                        <img src="img/stone.png" alt="" width="60px" height="50px">
                        <strong>The Parthenon Gallery</strong>
                        <p>The Museum's exhibition culminates in the third-floor gallery, which has been specially designed to accommodate the sculptures of the Parthenon.</p>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box4">
        <h2>ACTIVITIES</h2>
        <div class="box4-1">
            <div class="listBox">
                <ul>
                    <li>
                        <img src="https://www.theacropolismuseum.gr/sites/default/files/2020-01/apo_to_5_aiona.jpg" alt="" width="60px" height="50px">
                        <p>The exhibits of the Acropolis Museum, as well as those which it houses on loan from time to time, tell their own unique stories through a variety of permanent and time limited activities organized in its spaces.</p>
                    </li>
                    <li>
                        <img src="https://www.theacropolismuseum.gr/sites/default/files/2020-01/arxes_istorias.jpg" alt="" width="60px" height="50px">
                        <p>Are you planning to visit the Acropolis Museum with your students? Choose one of the educational programs and follow our archaeologists in a unique travel through time, art, myth, history and everyday life of the ancient Athenians.</p>
                    </li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2020-12/3b.Laser_.jpg" alt="" width="60px" height="50px">
                        <p>The Acropolis Museum offers festivities and family summer programs (also occasionally during winter months) that include exhibits and workshops specifically for children.</p></li>
                    <li>
                        <img src="https://www.theacropolismuseum.gr/sites/default/files/2020-06/3b.%20Gallery_Archaic-Colors.jpg" alt="" width="60px" height="50px">
                        <p>The Acropolis Museum, as a cultural institution dedicated in serving the public, implements social responsibility actions and programs oriented toward special groups of visitors in both physical presence and online.</p>
                    </li>
                </ul>
            </div>
            <div class="imgBox">
                <ul> <!--ul의 크기값(가로,세로)을 설정한후 relative를 준다
                        li를 모든 아이들을 똑같이 같은 구간에 붙여놓는다. 
                        4번의 img가 보이는게 맞다 (위로 쌓임)-->
                    <li><img src="img/team1.jpg" alt="" width="650px" height="450px"></li>
                    <li><img src="img/team2.jpg" alt="" width="650px" height="450px"></li>
                    <li><img src="img/team3.jpg" alt="" width="650px" height="450px"></li>
                    <li><img src="img/team4.jpg" alt="" width="650px" height="450px"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-inner">
            <div class="box5-1">
                <div class="title">RESEARCH AND CONSERVATION</div>
                <div class="listBox">
                    <ul>
                        <li>
                            <img src="https://picsum.photos/id/72/50/50" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam repellendus velit, nesciunt deserunt repellat.</p>
                        </li>
                        <li>
                            <img src="https://picsum.photos/id/73/50/50" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam repellendus velit, nesciunt deserunt repellat.</p>
                        </li>
                    </ul>
                </div>
                <div class="btnBox">
                    <p>button</p>
                    <p>button</p>
                </div>
            </div>
            <div class="box5-2">
                <img src="https://www.theacropolismuseum.gr/sites/default/files/2023-03/2.jpg" alt="" width="800px" height="500px">
            </div>
        </div>
    </div>
    <div class="box6">
        <div class="box6-1">
            <strong>Title</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam distinctio perferendis earum tempore.</p>
        </div>
        <div class="box6-2">
            <img src="https://www.theacropolismuseum.gr/themes/custom/acropolis/imgs/plan_your_visit/circular_img.png" alt="" width="300px" height="300px">
        </div>
        <div class="box6-3">
            <strong>Title</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam distinctio perferendis earum tempore.</p>
        </div>
    </div>
    <div class="box7">
        <div class="box7-1">
            <div class="container">
                <img src="https://cdn.pixabay.com/photo/2020/07/12/16/40/paris-5397889_1280.jpg" alt="" width="1000px" height="600px">
            </div>
            <p class="left">&#10094;</p>
            <p class="right">&#10095;</p>
        </div>
        <div class="box7-2">
            <div class="trailer">
                <ul>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2020-02/VIEW-IMAGE-ADULTS-ACTIVITIES.jpg" alt="" width="150px" height="100px"></li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2023-02/sinedria_0.jpg" alt="" width="150px" height="100px"></li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2022-06/5.jpg" alt="" width="150px" height="100px"></li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2020-02/VIEW-IMAGE-SCHOOLS_0.jpg" alt="" width="150px" height="100px"></li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2020-01/parthenon.jpg" alt="" width="150px" height="100px"></li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2020-01/anaskafi.jpg" alt="" width="150px" height="100px"></li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2020-02/VIEW-IMAGE-GALLERY-TALKS-2_0.jpg" alt="" width="150px" height="100px"></li>
                    <li><img src="https://www.theacropolismuseum.gr/sites/default/files/2020-08/Acropolis%20Museum_3K4A9423_580X535_PhotographedByGiorgosVitsaropoulos.jpg" alt="" width="150px" height="100px"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box8">
        <div class="box8-1">
            <img src="https://picsum.photos/id/88/600/400" alt="">
        </div>
        <div class="box8-2">
            <div class="txtBox">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo totam distinctio temporibus dolore, ab natus, dicta deserunt corporis, alias molestias libero sunt recusandae expedita cupiditate.
                    Eum obcaecati perferendis quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci autem omnis libero, excepturi accusantium debitis ea similique, error expedita fugiat nulla minima quam officiis labore molestiae illum unde repellat vel!</p>
            </div>
        </div>
    </div>
    <div class="box9">
        <div class="box9-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vitae numquam exercitationem perferendis iusto? Expedita facere error natus ullam recusandae nemo perferendis quod reiciendis quibusdam maxime, odio inventore aliquid tenetur.</p>
        </div>
        <div class="box9-2">input박스</div>
    </div>
    <div class="box10">
        <div class="box10-1">bottom logo</div>
        <div class="box10-2">
            <ul>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
                <li><a href="#">sitemap</a></li>
            </ul>
        </div>
    </div>
</body>
</html>