<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout001</title>
    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="layout001.css">
    <!-- 그리드가이드 연결 
    <link rel="stylesheet" href="grid-guide.css"> -->
</head>
<body>
    <div class="main">
        <div class="vid">
            <video autoplay muted loop>
                <source src="img/venice_-_30123 (720p).mp4">
            </video>
        </div>
        <div class="box1">
            <div class="box1-1">
                <h2>LOGO</h2>
            </div>
            <div class="box1-2">
                <ul class="nav">
                    <li><a href="#">NAVIGATION1</a></li>
                    <li><a href="#">NAVIGATION2</a></li>
                    <li><a href="#">NAVIGATION3</a></li>
                    <li><a href="#">NAVIGATION4</a></li>
                </ul>
            </div>
        </div>
        <div class="box2">
            <h2>Lorem ipsum dolor sit amet
                <br>consectetur adipisicing elit.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellat nam ducimus tenetur.
                <br>Est voluptates dolore debitis nobis iure obcaecati officia provident velit aspernatur saepe. Delectus maxime soluta officia vero.</p>
            <button>CTA BUTTON</button>
        </div>
    </div>
    <div class="box3">
        <h2>Lorem ipsum dolor sit amet
            <br>consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br>Culpa, tempore! Vitae fugiat minima exercitationem inventore neque recusandae illo provident 
            <br>ipsum accusantium vel, non mollitia unde harum porro? Ipsam, quae fugit.</p>
    </div>
    <div class="box4">
        <div class="box4-1">imgbox</div>
        <div class="box4-2">
            <h2>Lorem ipsum dolor sit amet
                <br>consectetur adipisicing elit.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellat nam ducimus.
                <br>Est voluptates teneturs dolore debitis nobis iure obcaecati officia provident
                <br>velit aspernatur saepe. Delectus maxime soluta officia vero.</p>
            <button>CTA BUTTON</button>
        </div>
    </div>
    <div class="box5">
        <div class="box5-1">
            <p>imgbox</p>
            <p>SERVICE ONE</p>
        </div>
        <div class="box5-2">
            <p>imgbox</p>
            <p>SERVICE TWO</p>
        </div>
        <div class="box5-3">
            <p>imgbox</p>
            <p>SERVICE THREE</p>
        </div>
        
    </div>
    <div class="box6">
        <div class="box6-1">
            <h2>Lorem ipsum</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="box7">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="box8">
        <div class="box8-1">
            <p>QUICK LINK</p>
            <p>QUICK LINK</p>
            <p>QUICK LINK</p>
        </div>
        <div class="box8-2">
            <h2>LOGO</h2>
        </div>
        <div class="box8-3">
            <p>SOCIAL MEDIA</p>
            <p>CONTACT</p>
            <p>LOCATION</p>
        </div>
    </div>
</body>
</html>