/* 언어설정 */
@charset 'UTF-8';

/* 구글폰트 */
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");


/* reset */
* {margin: 0;
    padding: 0;}

ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}


/* 로고설정 */
.logo {}
.logo h1 {font-weight: 600;
        font-size: 30px;
        font-family: 'Paytone One', sans-serif;
        color: palevioletred}


/* gnb설정 */
.gnb {}
.gnb ul {}
.gnb ul li {float: left;
            width: auto;}
.gnb ul li a {font-size: 14px;
            padding: 15px;
            display: block;}
.gnb ul::after {content: '';
                display: block;
                clear: both;}
.gnb ul li a:hover {background-color: plum;}



/* story category 설정 */
.story-cat {margin-bottom: 25px;}
.story-cat ul {display: flex;}
.story-cat ul li {margin-right: 5px;}
.story-cat ul li a {background-color: pink;
                    font-size: 12px;
                    padding: 3px 5px;
                    border-radius: 3px;
                    display: block;}
.story-cat ul li a:hover {background-color: plum;}



/* story설정 */
.story {}
.story h1 {font-size: 36px;
            font-weight: 600;
            margin-bottom: 20px;}
.story p {margin-bottom: 20px;}
.story img {width: 100%; height: 420px;}

.story h2 {font-size: 26px;
            font-weight: 400;
            border-left: 10px solid pink;
            padding-left: 10px;
            margin-top: 40px;
            margin-bottom: 20px;}


/* story information 설정 */
.story-info {margin-bottom: 20px;
            margin-top: -10px;}
.story-info i {font-size: 20px;
                color: #aaa;
                margin-right: 5px;
                vertical-align: bottom;}


/* sns 설정 */
.sns {margin-top: 40px;}
.sns ul {display: flex;}
.sns ul li {width: 33.3333%;
            text-align: center;}
.sns ul li a {color: #fff;
              display: block;
              padding: 10px; 5px}

.sns li:nth-child(1) {background-color: #1da1f2;}
.sns li:nth-child(2) {background-color: #1877f2;}
.sns li:nth-child(3) {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,c13584+0,fcaf45+100,7db9e8+100 */
        background: linear-gradient(to right,  #1e5799 0%,#c13584 0%,#fcaf45 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}


/* 관련 기사 설정 */
.relation {margin-top: 40px;
           background-color: #ffcccc;
           padding: 20px;}
.relation h2 {font-size: 20px;
              font-weight: normal;
              margin-bottom: 5px;
              color: purple;}
.relation ul {display: flex;}
.relation ul li {width: 25%;}
.relation ul li a {display: block;
                  font-size: 14px;
                  padding: 5px;}

.relation ul li img {width: 100%;}
.relation .txt {}


/* 특집기사설정 */
.sidemenu {margin-bottom: 30px;}
.sidemenu h1 {font-size: 18px;
            font-weight: 400;
            border-bottom: dotted 3px #ccc;
            margin-bottom: 10px;}
.sidemenu ul {}
.sidemenu ul li {}
.sidemenu ul li a {display:block;
                    padding: 5px;}
.sidemenu i {color: #777;
            margin-right: 5px;}
.sidemenu ul li a:hover {background-color: #eee;}

/* 추천기사설정 */
.recommend {margin-bottom: 30px;}
.recommend h1 {font-size: 18px;
            font-weight: 400;
            border-bottom: dotted 3px #ccc;
            margin-bottom: 10px;}
.recommend ul {}
.recommend ul li {margin-bottom: 10px;}
.recommend ul li a {display:block;
                    position: relative;}

.recommend img {width: 100%;
                height: auto;
                vertical-align: bottom;}

.recommend .txt {position: absolute;
                left: 0; 
                bottom: 0;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                padding: 5px 10px;
                box-sizing: border-box;}

/* 인기기사설정 */
.popular {}
.popular h1 {font-size: 18px;
            font-weight: 400;
            border-bottom: dotted 3px #ccc;
            margin-bottom: 10px;}
.popular ul {}
.popular ul li {}
.popular ul li a {display:block;
                    padding-bottom: 5px;
                    color: palevioletred;
                    border-bottom: dotted 1px #ddd;}

.popular ul li a:hover {background-color: #eee;}


/* 카피라이트설정 */
.copy {}
.copy p {font-size: 14px;
        color: #777;}



/* img와 txt 가로정렬 */
.popular a::after {content: '';
                    display: block;
                    clear: both;}

.popular img {float: left;}
.popular .txt {float: none;
                margin-left: 60px;
                padding-left: 15px;}
.popular span {font-size: 12px;
                color: #666;
                display: block;}


/* box2 바 형태로 설정 */
.box2 {background-color: pink;}


/* box5 구분선 설정 */
.box5 {border-top: solid 1px #ddd;}


/* 위아래 간격 설정 */
.box1 {padding-top: 8px;
        padding-bottom: 8px;}
.boxA {padding-top: 40px;
        padding-bottom: 30px;}
.box5 {padding-top: 15px;
        padding-bottom: 15px;}








/* 반응형 웹 설정구간################################## */

/* 좌우 여백 설정 */
.box1, .boxA, .copy, .gnb {
        padding-left: 10px;
        padding-right: 10px;
}

/* 모바일구간 */
@media(max-width:490px){

        .relation ul li {width: 25%;}

}

/* 태블릿구간 */
@media(min-width:491px) and (max-width:850px){


}

/* 데스크탑 구간 */
@media(min-width:851px){

/* box3, box4가로정렬 */
.box3 {float:left;
        width: 70%;}
.box4 {float: left;
        width: 30%;}
.boxA::after {content: '';
        display: block;
        clear: both;}


/* box3과 box4의 간격 설정 */
.box3 {padding-right: 50px;
        box-sizing: border-box;}

}


/* 크기 고정 구간 */
@media(min-width:1090px){

/* 전체사이즈 설정 */
.box1, .boxA, .copy, .gnb {width: 1280px;
        margin: 0 auto;}
        
}